ion-content ion-toolbar {
  --background: translucent;
}

.homescreen-content {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 80vh; /* 100% of the viewport height */
}

.homescreen-content > div {
  display: flex;
  justify-content: center; /* horizontally centered */
  align-items: center; /* vertically centered */
  flex: 1; /* each stretches and takes equal height of the parent (50vh) */
}