<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teleop
      <app-offline-banner></app-offline-banner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <div class="homescreen-content" scroll="false">
      <div>
        <img id="live-view"/>
      </div>

      <div>
        <div id="zone_joystick"> </div>
      </div>
    </div>
  
  </ion-content>
  
</ion-content>
