<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
      <app-offline-banner></app-offline-banner>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Server Selection
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Server</ion-label>
      <ion-select value="localhost" placeholder="Select One" (ionChange)="serverSelectionChanged($event)">
        <ion-select-option value="localhost">localhost</ion-select-option>
        <ion-select-option value="nanogl">nanogl</ion-select-option>
      </ion-select>
    </ion-item>

  
  </ion-list>
</ion-content>
